@font-face {
    font-family: 'Nunito Sans';
    src: url('Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('ttf'),
         url('Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  * {
    margin: 0;
    font-size: 14px;
    /* border: solid 1px red; */
  }
  body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: hsl(0, 0%, 98%);
  }
  .nav-bar, .nav-dark-mode {
    display: flex;
    justify-content: space-between;
    /* padding: 40px; */
  }
  .nav-bar {
    width: 100%;
    margin: 0px 0px 10px 0px;
    
    background-color: hsl(0, 0%, 100%);
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
  }
  #btn-mode {
    background-color: white;
    border: none;
  }
/* container styles */
/* .container {
    margin: 90px;
} */
/* styles for search container */
.search-container {
    position: relative;
    display: inline-block;
    margin: 10px 15px 20px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .search-input {
    padding: 5px 30px 5px 65px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 250px;
    height: 40px;
    color: hsl(0, 0%, 52%);
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 14px;
    color: hsl(0, 0%, 52%);
    cursor: pointer;
  }
  /* dropdown styles */
  .drop-down {
    position: relative;
    display: inline-block;
    margin: 30px 0px 0px 15px; 
    
  }
  .dropdown-btn {
    margin-bottom: 5px;
    text-align: left;
    padding-left: 20px;
    width: 210px;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    font-weight: 300;
    border: none;
    cursor: pointer;
  }
  .dropdown-btn::after {
    content: '\25BC';
    margin-left: 60px;
    color: hsl(0, 0%, 52%);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    min-width: 210px;
    z-index: 1;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .dropdown-content ul {
    width: 100px;
    margin: 10px 0 10px 20px;
    padding-left: 0px;
    cursor: pointer;
    font-weight: 300;
    display: block;
  }
  .drop-down:hover .dropdown-content{
    display: block;
  }
  /* country searched output styles */
  .countrySearchedDiv {
    background-color: hsl(0, 0%, 100%);
    width: 285px;
    height: 360px;
    margin: 45px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .countryFlag {
    width: 285px;
    height: 180px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .countryName {
    padding: 20px 0px 10px 20px;
    font-size: 20px;
  }
  .info-pop, .info-reg, .info-cap {
    padding: 10px 0px 5px 20px;
  } 
  .info-cap {
    padding-bottom: 25px;
  }


/* desktop grid view */

/* @media screen and (max-width: 450px) {
  .container {
    margin: 30px 45px;
  }
  .displaying-country {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
  .search-filter {
    display: flex;
    justify-content: space-between;
    margin: 30px 45px;
    padding: 0px;
  }
} */
@media screen and (min-width: 500px) {
  .container {
    margin: 30px 45px;
  }
  .displaying-country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  .search-filter {
    display: flex;
    justify-content: space-between;
    margin: 30px 45px;
    padding: 0px;
  }
}
@media screen and (min-width: 850px) {
  .container {
    margin: 30px 45px;
  }
  .displaying-country {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }
  .search-filter {
    display: flex;
    justify-content: space-between;
    margin: 30px 45px;
    padding: 0px;
  }
}
