@font-face {
    font-family: 'Nunito Sans';
    src: url('Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('ttf'),
         url('Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  * {
    margin: 0;
    font-size: 14px;
    /* border: solid 1px red; */
  }
  body {
    font-family: 'Nunito Sans', sans-serif;
  }
  .nav-bar, .nav-dark-mode {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar {
    margin: 30px 15px;
  }
  #btn-mode {
    background-color: white;
    border: none;
  }
/* container styles */
.container {
    background-color: hsl(0, 0%, 98%);
}
/* styles for search container */
.search-container {
    position: relative;
    display: inline-block;
    margin: 20px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .search-input {
    padding: 5px 30px 5px 30px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    width: 280px;
    height: 40px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #555;
  }
  
  